[flake8]
max-line-length = 120
; extend-select = I
; exclude = .git,__pycache__,.venv,tmp,app/tests
exclude = .git,__pycache__,.venv,tmp,notebooks/sniff.py,play*.py,notebooks/*,play/*
# Base flake8 configuration:
# https://flake8.pycqa.org/en/latest/user/configuration.html
format = wemake
show-source = true
statistics = false
doctests = true

# Self settings:
; max-imports = 17
; ignore=WPS2
; ignore=WPS1
; ignore=WPS1,WPS2
; ignore=WPS1,WPS2,WPS3
; ignore=WPS1,WPS2,WPS3,WPS4
extend-ignore=W503,E203,H601,WPS432,WPS339,WPS111,WPS110,WPS111,WPS402,WPS201,WPS203
